OpsAdmin_Java/Ops-ejb/src/conf/wsdl/ec2-50-19-193-4.compute-1.amazonaws.com_8080/OpaSOAP/OpaSOAP.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1 (branches/2.1-6728; 2011-02-03T14:14:58+0000) JAXWS-RI/2.2.3 JAXWS/2.2. --><xs:schema xmlns:tns="http://soap.caratti.eti.br/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://soap.caratti.eti.br/">

<xs:element name="sendOpa" type="tns:sendOpa" />

<xs:element name="sendOpaResponse" type="tns:sendOpaResponse" />

<xs:complexType name="sendOpa">
<xs:sequence>
<xs:element name="phoneNumber" type="xs:string" minOccurs="0" />
<xs:element name="latitude" type="xs:string" minOccurs="0" />
<xs:element name="longitude" type="xs:string" minOccurs="0" />
<xs:element name="serviceName" type="xs:string" minOccurs="0" />
<xs:element name="message" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="sendOpaResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:schema>